<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello <%= name %>,</p>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
        <% for (var i=0; i<items.length; i++) { %>
            <tr>
                <th><%= items[i].name %></th>
                <th><%= items[i].price %></th>
            </tr>
        <% } %>
    </table>
</body>
</html>